@import "../../../styles/colorsConfig";
@import "../../../styles/mixins";

div.spin_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  div.box {
    display: flex;
    transition: all 0.2s ease;
    border-radius: 50%;
    border: 3px solid $primary-white;
    margin: 5px;

    & > .hourglass {
      position: relative;
      height: 85px;
      width: 85px;
      padding: 15px;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-animation: hourglass 3s ease-in-out infinite;
      animation: hourglass 3s ease-in-out infinite;
      @include respond-to('large') {
        height: 120px;
        width: 120px;
      }
    }
  }
  & > p {
    width: 100%;
    color: $primary-gold;
    font-size: 20px;
    margin: 10px 0 5px 0;
    @include respond-to('medium') {
      margin: 25px;
      font-size: 25px;
    }
  }
  & > span {
    width: 100%;
    font-size: 15px;
    @include respond-to('medium') {
      font-size: 20px;
    }
  }
}

@-webkit-keyframes hourglass{
  0%{-webkit-transform:rotate(0deg);}
  50%{-webkit-transform:rotate(180deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes hourglass{
  0%{-webkit-transform:rotate(0deg);}
  50%{-webkit-transform:rotate(180deg);}
  100%{-webkit-transform:rotate(360deg);}
}
