@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 15vh;
    padding-bottom: 20px;
    z-index: 700;
    background-color: $primary-gold;

    & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include respond-to('large') {

        }
    }
}
