@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 10vh;
    height: 90vh;
    z-index: 700;
    background-color: rgba($primary-gold, 0.95);

    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include respond-to('large') {

        }
    }
}

div.moveToTop {
    top: 5vh;
    height: 95vh;
}
