@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  background-color: $primary-white;
  color: $primary-black;
  min-height: 35vh;
  z-index: 500;
  @include respond-to('large') {
    flex-wrap: nowrap;
  }

  & > div.service {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 5vh 20px;
    text-align: center;
    max-width: 335px;
    //border: thin solid $primary-black;
    height: 20vh;
    position: relative;

    & > div.wrap_service {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      & > p {
        transition: 0.2s ease-in-out;
        color: $primary-black;
        font-size: 20px;
        padding: 5px;
        width: 100%;
        position: relative;
      }
      & > img {
        width: 70px;
        height: 70px;
        position: relative;
      }
    }
  }
}


