@import "../../styles/colorsConfig";
@import "../../styles/mixins";

a.element_link {
  width: 100%;
  cursor: pointer;
  z-index: 500;
  outline: none;

  & > div.head_line {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary-white;
    font-size: 22px;
    padding: 3vh 0;
    height: 15vh;

    & > div.text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5vh;

      & > span {
        flex-grow: 1;
        margin: 0 15px;
      }
      & > span.gold {
        border-bottom: thin solid $primary-gold;
      }
      & > span.white {
        border-bottom: thin solid $primary-white;
      }
      & > span.black {
        border-bottom: thin solid $primary-black;
      }
      & > p.gold {
        color: $primary-gold;
      }
      & > p.white {
        color: $primary-white;
        font-size: 20px;
      }
      & > p.black {
        color: $primary-black;
      }
    }
    & > div.arrow_down {
      height: 1vh;

      & > i.gold {
        color: $primary-gold;
      }
      & > i.white {
        color: $primary-white;
      }
      & > i.black {
        color: $primary-black;
      }
      & > i.fa-heart {
        position: relative;
        bottom: 65px;
        color: $primary-gold;
        font-weight: bold;
        transform: rotateZ(-10deg);
      }
    }
    & > i.fa-heart {
      position: relative;
      color: $primary-gold;
      transform: rotateZ(-10deg);
    }
  }
  & > div.goldBackground {
    background-color: rgba($primary-gold, 0);
    height: 15vh;
  }
}



