@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.carousel_section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    @include respond-to('large') {
        flex-wrap: nowrap;
    }

    & > div.dots {
        position: absolute;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        color: $warm-grey;
        width: 30px;
        justify-content: center;
        align-items: center;
        z-index: 700;
        margin-top: 10px;

        & > i {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.7s ease-in-out;
            margin: 5px;
        }
        & > i.gold {
            color: $primary-gold;
        }
    }
}
