@import "../../styles/colorsConfig";

div.carousel_section {

    & > div.dots {
        position: absolute;
        height: 100%;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        color: $primary-white;
        width: 30px;
        justify-content: center;
        align-items: center;
        z-index: 200;
        margin-top: 10px;

        & > i {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.7s ease-in-out;
        }
        & > i.gold {
            color: $primary-gold;
        }
    }
}
