@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.parallax_pattern_wrapper {
  width: 100%;
  height: 5vh;

  & > div.parallax_pattern {
    height: 100%;
    width: 100%;
    background-color: $primary-white;
  }
}
