@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.mood_section {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  height: 85vh;
  padding-top: 10vh;
  @include respond-to('large') {
    height: 80vh;
    padding-top: 5vh;
  }

  & > div.center_carousels {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > div.carousels_wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & > div.pop_up_wrapper {
    height: 100%;
  }
}

