//Global Colors variables



//primary colors
  $primary-gold: #bc9a36;
  $primary-black: #020403;
  $primary-white: #ffffff;
  $primary-purple: #9933ff;
  $primary-green: #bbe3a8;
  $primary-background: #282c34;
  //$primary-black: #172026;
  $purple-light: #9370DB;
  $primary-light: #89f892;
  $faded-blue: #00C3DD; //#6697be;

//grey scale
  $smooth-grey:#F0F2F7;
  $warm-grey: #959595;
  $pinkish-grey: #bdbdbd;
  $pinkish-grey-two: #c5c5c5;
  $cloudy-blue: #c2ced6;
//blue scale
  $deep-sky-blue: #0084ff;
  $azure: #2196f3;
  $nice-blue: 1565c0;
  $dusk-blue: #303f9f;
  $very-light-blue: #e2f0ff;
//statuses
  $coral: #fb4444;
  $very-light-pink: #ffdede;
  $ice-blue: #f2f9ff;

  $yellow: #ffb300;
  $pale:#fff1d1;
  $beige: #e2eeba;
  $emerald-green:#08932d;
  $ice: #e0ffe8;
  $avocado: #97b532;
  $beige: #e2eeba;
//USAGE
  $label-color: $warm-grey;

  $border-color: $smooth-grey;

  $primary-color: $azure;

  $success-color: $avocado;
  $success-colorBG: $beige;

  $warring-color: $yellow;
  $warring-colorBg: $pale;

  $info-color: $faded-blue;
  $info-colorBG: $ice-blue;

  $confirm: $dusk-blue;
  $confirmBg: $very-light-blue;

  $alert-color: $coral;
  $alert-colorBg: $very-light-pink;

  $disable-color: $pinkish-grey-two;





