@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.about_section {
  width: 100%;

  & > div.about_us {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
    background-color: $primary-white;
    color: $primary-black;
    text-align: center;
    position: relative;
    top: 85vh;
    min-height: 80vh;

    & > div.text, div.services {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 25px 25px 0 25px;
      @include respond-to('large') {
        justify-content: center;
        flex-wrap: nowrap;
      }
      & > div {
        margin: 10px;
        min-width: 320px;

        & > p  {
          margin: 5px;
          & > span.gold_color {
            color: $primary-gold;
          }
        }
      }
    }
    & > div.services {
      & > div.service {
        width: 345px;

        & > p {
          transition: 0.2s ease-in-out;
          color: $primary-gold;
          font-size: 25px;
        }
        & > i {
          font-size: 75px;
          padding: 20px;
          color: $warm-grey;
          transition: 0.7s ease-in-out;
        }
      }
      & > div.service:hover {
        & > i {
          color: $primary-gold;
        }
        & > p {
          color: $primary-black;
        }
      }
    }
  }
}


