@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.enter_page_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $primary-black;
    color: $primary-white;
    text-align: center;
    position: absolute;
    top: 0;
}
@-webkit-keyframes hourglass{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes hourglass{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(360deg);}
}

