@import "../../styles/colorsConfig";

div.top_layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 700;
    position: absolute;
    top: 85vh;

    & > div.mood_head_line {
        width: 100%;
        height: 5vh;
        background-color: $primary-white;
    }

    & > div.test {
        width: 100%;
        height: 55vh;
    }
}

