@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.top_layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 700;
    position: relative;
    top: 10vh;

    & > .parallax_carousel {
        width: 100%;
        background-color: $primary-white;
        position: relative;

        & > div {
            width: 100%;
            position: relative;
            bottom: 12px;
            @include respond-to('large') {
                bottom: 0;
            }

            & > div.clear_carousel {
                width: 100%;
                height: 75vh;
                background-color: $primary-white;
            }
        }
    }
    & > div.clear {
        height: 5vh;
        width: 100%;
        position: relative;
        top: 70vh;
    }

    & > div.photo {
        height: 5vh;
        width: 100%;
        z-index: 100;
        display: flex;
        align-items: center;
        background-color: $primary-white;

        & > .parallax {
            width: 100%;
            & > div {
                height: 40vh;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                & > img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    bottom: 10vh;
                }
            }
        }
    }
    & > div.mood_parallax_wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;

        & > .parallax_wrapper {
            width: 100%;
            position: absolute;
            height: 100%;
            & > div {
                width: 100%;
                height: 100%;
                & > img {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    top: 10vh;
                }
            }
        }
    }
    & > div.pop_up_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($primary-black, 0.9);
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 98vh;
        position: fixed;
        overflow: hidden;
        padding-top: 22vh;
        bottom: 0;
        z-index: 1100;
        @include respond-to('medium') {
            padding-top: 15vh;
        }
    }
}




