@import "../../styles/colorsConfig";

div.top_layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 700;
    position: relative;
    top: 85vh;
}





