@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    height: 10vh;
    color: $primary-black;
    background-color: $primary-white;
    z-index: 999;
    transition: 0.3s ease-in-out;
    @include respond-to('large') {
        flex-wrap: nowrap;
        padding: 0 20px;
    }
    & > div.header_logo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 25px;
        @include respond-to('large') {
            justify-content: center;
        }
        & > img {
            width: 60px;
            transition: 0.3s ease-in-out;
            @include respond-to('large') {
                width: 75px;
            }
        }
    }
    & > div.menu_button {
        font-size: 25px;
        color: $primary-gold;
        position: absolute;
        display: flex;
        align-items: center;
        right: 25px;
        height: 100%;
        z-index: 1200;
        cursor: pointer;
        @include respond-to('medium') {
            bottom: 0;
        }

        & > a.menu_list_item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: auto;
            font-size: 15px;
            margin-right: 20px;
            transition: 0.5s ease-in-out;
            @include respond-to('larger') {
                font-size: 20px;
                margin-right: 25px;
            }
            & > span.menu_list_item_text {
                width: 100%;
            }
            & > span.menu_list_item_line {
                position: relative;
                top: 15px;
                width: 100%;
                transition: 0.5s ease-in-out;
                border-bottom: thin solid $primary-gold;
            }
        }
        & > a.selected {
            color: $primary-black;
        }
        & > a.menu_list_item:hover {
            color: $primary-black;
        }
    }
    & > div.menu_animation {
        animation: menuAnimation 1s ease-in-out;
    }
}

div.sm {
    justify-content: flex-start;
    background-color: rgba($primary-white, 0);

    & > div.header_logo {
        justify-content: flex-start;
        padding-left: 15px;
        width: 100%;

        & > img {
            width: 95px;
        }
    }
}

div.background {
    background-color: $primary-white;
}

@-webkit-keyframes menuAnimation {
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes menuAnimation {
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}


