@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.element {
  width: 100%;
  position: relative;

  .section_Wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 500;
  }
}

