@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.pop_up_wrapper {

  & > div.photo {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 55vh;
    width: 90%;
    @include respond-to('medium') {
      height: 70vh;
    }
    @include respond-to('large') {
      width: 80%;
      top: 5vh;
    }

    & > img {
      height: 100%;
      width: 100%;
      border-radius: 15px 15px 0 0 ;
      transition: 0.7s ease-in-out;
    }
  }
  & > div.pop_up_text_wrapper {
    width: 90%;
    min-height: 10vh;
    display: flex;
    background-color: $primary-black;
    color: $primary-white;
    padding: 10px;
    position: relative;
    @include respond-to('large') {
      top: 5vh;
    }
    @include respond-to('large') {
      width: 80%;
    }
    & > div.pop_up_text {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 5px;

      & > div {
        width: 100%;
        display: flex;

        & > i {
          margin-right: 10px;
          font-size: 17px;
          color: $primary-gold;
          margin-bottom: 5px;
        }
        & > p {
          width: 100%;
        }
      }
    }
    & > span.close_pop_up {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      & > i {
        font-size: 25px;
        color: $primary-white;
        transition: 0.3s ease-in-out;
      }
      & > i:hover {
        color: $primary-gold;
        font-size: 30px;
      }
    }
  }
}
