@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.footer_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  background-color: $primary-white;
  z-index: 999;
  color: $primary-black;
  padding-bottom: 5vh;

  & > div.contact_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    @include respond-to('large') {
      width: 30%;
    }

    & > p {
      font-size: 30px;
      margin: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    & > div.contact, div.follow {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      & > span.phone_number {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-bottom: thin solid $primary-gold;
        width: 100%;
        padding-bottom: 5px;
        & > a.phone, a.sms {
          text-decoration: none;
          color: $primary-black;
          margin: 0 15px;
        }
        & > a.sms {
          border: thin solid $primary-black;
          color: $primary-gold;
          padding: 5px;
          border-radius: 5px;
        }
      }
      & > a {
        border-bottom: thin solid $primary-gold;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-decoration: none;
        color: $primary-black;
        & > span {
          color: $primary-gold;
        }
      }
    }

    & > div.follow {
      flex-wrap: nowrap;
      align-items: flex-end;

      & > a {
        font-size: 35px;
        border: thin solid $primary-black;
        padding: 15px;
        margin:  0 15px;
        color: $primary-gold;
        width: 70px;
        height: 70px;
      }
    }
  }

  & > div.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    background-color: $primary-white;
    padding-top: 5vh;

    & > span {
      color: $primary-gold;
      display: flex;
      align-items: center;
      position: relative;
      top: 20px;
    }
  }
}


