@import url(//db.onlinewebfonts.com/c/65ab651cc7cebf7331a4228e830573d1?family=Caviar+Dreams);
@import "styles/colorsConfig";
@import "styles/mixins";

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Caviar Dreams;
}
