@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.clients {
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-color: $primary-white;
  color: $primary-black;
  min-height: 20vh;
  padding: 0 20%;
  z-index: 500;

  & > div.icon_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include respond-to('large') {
      flex-wrap: nowrap;
    }
    & > span {
      width: 200px;
      display: flex;
      justify-content: center;

      & > img {
        width: 100px;
        height: 70px;
        margin: 20px 50px;
      }
      & > img.google {
        width: 120px;
        height: 80px;
      }
      & > img.mobilaye {
        width: 150px;
        height: 80px;
      }
    }

    & > i {
      font-size: 70px;
      color: $primary-gold;
    }
    & span {
      font-size: 70px;
      color: $primary-gold;
      display: flex;
      align-items: center;
      & > i.one {
        position: relative;
        right: -16%;
      }
      & > i.two {
        position: relative;
        right: -5%;
      }
      & > i.three {
        position: relative;
        right: 5%;
      }
      & > i.four {
        position: relative;
        right: 16%;
      }
    }
  }
}


