@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.clients {
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  background-color: $primary-white;
  color: $primary-black;
  padding: 0 30px;
  min-height: 25vh;
  z-index: 500;

  & > div.icon_wrapper {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > span {
      width: 130px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      @include respond-to('medium') {
        width: 300px;
        height: 200px;
      }
      & > img {
        transition: 0.5s ease-in-out;
      }

      & > img.louisVuitton {
        width: 100px;
        @include respond-to('medium') {
          width: 150px;
        }
      }
      & > img.morris, img.goose {
        width: 120px;
        @include respond-to('medium') {
          width: 170px;
        }
      }
      & > img.milk {
        width: 50px;
        @include respond-to('medium') {
          width: 70px;
        }
      }
      & > img.audi {
        width: 80px;
        @include respond-to('medium') {
          width: 100px;
        }
      }
      & > img.alfa {
         width: 60px;
        @include respond-to('medium') {
          width: 80px;
        }
      }
      & > img.mobileye {
        width: 90px;
        @include respond-to('medium') {
          width: 120px;
        }
      }
      & > img.google {
        width: 170px;
        @include respond-to('medium') {
          width: 200px;
        }
      }
    }
  }
}


