@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.about_us {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  z-index: 500;
  color: $primary-white;
  @include respond-to('large') {
    height: 65vh;
    font-size: 20px;
  }

  & > div.text_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include respond-to('large') {
      flex-wrap: nowrap;
    }

    & > div.about_us_text {
      margin: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      max-width: 350px;

      & > p  {
        margin: 5px;
        width: 100%;
        & > span.gold_color {
          color: $primary-gold;
        }
      }
    }
  }

}


