@import "../../styles/colorsConfig";
@import "../../styles/mixins";

div.about_us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  z-index: 500;
  color: $primary-white;
  height: 100%;
  @include respond-to('medium') {
    font-size: 20px;
  }

  & > a {
    position: absolute;
    top: 2vh;
    cursor: unset;
  }

  & > div.text_wrapper {
    width: 100%;
    position: absolute;
    top: 17vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include respond-to('medium') {
      height: 50%;
    }

    & > div.about_us_text {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 15px;
      width: 100%;
      text-align: center;
      @include respond-to('large') {
        max-width: 400px;
      }

      & > p  {
        margin: 4px 0;
        width: 100%;
        & > span.gold_color {
          color: $primary-gold;
        }
      }
    }
  }
}


